{
  "resources":{
    "humdb":"path_of_host_reference",
    "virusdb":"path_of_host_reference",
    "annotatedfile":"path_of_host_reference"
  },
  
  "tools":{
    "fastp":{
      "call":"fastp",
      "threads":16
    },
    "hisat2":{
      "call":"hisat2",
      "threads": 16
    },
    "samtools":{
      "call":"samtools",
      "threads": 16
    }

  },

  "fastq":"path_of_fastqfile",
  "sample":"sampleid",
  "method":"scRNAseq",
  #"method":"bulkRNAseq",
  "readlength":100,
  "outpath":"path_of_outdir",
  "alignment":"hisat2"

}